<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Interactive Form</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/app3.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <form autocomplete="off">
        <input id="input-1" type="text" placeholder="John Doe" required autofocus />
        <label for="input-1">
            <span class="label-text">Full Name</span>
            <span class="nav-dot"></span>
            <div class="signup-button-trigger">Sign Up</div>
        </label>
        <input id="input-2" type="email" placeholder="email@address.com" required />
        <label for="input-2">
            <span class="label-text">Email</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-3" type="text" placeholder="Company" required />
        <label for="input-3">
            <span class="label-text">Company Name</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-4" type="text" placeholder="Ex:- 2007" required />
        <label for="input-4">
            <span class="label-text">Year of Establishment</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-5" type="text" placeholder="Events sponsored by you" required />
        <label for="input-5">
            <span class="label-text">Past Experience if any</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-6" type="text" placeholder="Ex:-Corporate, Fests, Community" required />
        <label for="input-6">
            <span class="label-text">Type of Event you wish to sponsor</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-7" type="text" placeholder="Surat, Gujarat" required />
        <label for="input-7">
            <span class="label-text">Preferred location</span>
            <span class="nav-dot"></span>
        </label>
        <input id="input-8" type="text" placeholder="(+91)" required />
        <label for="input-8">
            <span class="label-text">Contact No.</span>
            <span class="nav-dot"></span>
        </label>
        <button type="submit">Submit Sponsorship Details</button>
        <p class="tip">Press Tab</p>
        <!-- <div class="signup-button">Sign Up</div> -->
    </form>
    <!-- partial -->
    <script src="./script.js"></script>

</body>

</html>